services:
  backend:
    build: ./erp-backend
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/erp_db
      - JWT_SECRET=supersecret
      - NODE_ENV=production
    depends_on:
      - mongo

  frontend:
    build:
      context: ./erp-frontend
      args:
        - VITE_API_URL=http://backend:3000
        - VITE_GRAFANA_FARO_URL=https://faro-collector-prod-ap-southeast-2.grafana.net/collect/f0f36f87dc7efeb4720f28adae0c0719
        - VITE_GRAFANA_FARO_APP_NAME=Ocean Market
        - VITE_GRAFANA_FARO_ENVIRONMENT=production
    ports:
      - "5173:5173"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
